:root {
	--clr-pink: hsl(322, 100%, 66%);
	--clr-vpale-cyan: hsl(193, 100%, 96%);
	--clr-vdark-cyan: hsl(192, 100%, 9%);
	--clr-grayish-blue: hsl(208, 11%, 55%);
	--ft-body-call: "Open Sans", sans-serif;
	--ft-headings: "Poppins", sans-serif;
}

/* General styles*/
html {
	font-size: 62.5%;
}
body {
	font-size: 1.8rem;
	font-family: var(--ft-body-call);
	height: 100vh;
}
.heading {
	font-family: var(--ft-headings);
}
.icon-container {
	border: 1px solid var(--clr-vpale-cyan);
	border-radius: 100%;
	padding: 0.7rem;
	transition: all 0.2s;
}
.icon-container:hover {
	color: var(--clr-pink);
	cursor: pointer;
	border: 1px solid var(--clr-pink);
}
/* Buttons */

.btn {
	outline: none;
	border: none;
	border-radius: 50px;
	padding: 1.5rem 5rem;
	font-weight: 700;
	box-shadow: 0px 3px 10px rgba(138, 138, 138, 0.432);
	transition: opacity 0.2s;
}
.btn:hover {
	cursor: pointer;
	opacity: 50%;
}
.btn-primary {
	background: var(--clr-pink);
	color: var(--clr-vpale-cyan);
}
.btn-secondary {
	background: white;
	color: var(--clr-vdark-cyan);
}

/* Header */

.header {
	background-color: var(--clr-vpale-cyan);
	background-image: url(/images/bg-hero-desktop.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 102% 100%;
	position: absolute;
}
.header-bar {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 4rem auto;
}
.header-bar img {
	height: 2rem;
}
.header-bar .btn {
	font-size: 1.3rem;
}
.header-body {
	display: flex;
	width: 90%;
	margin: 0 auto;
	gap: 11rem;
	align-items: center;
	padding-bottom: 4rem;
}
.header-body_content h1 {
	line-height: 5rem;
	color: var(--clr-vdark-cyan);
}
.header-body_content p {
	font-size: 1.6rem;
	line-height: 2.3rem;
	color: var(--clr-vdark-cyan);
	margin-bottom: 3rem;
}
.header-body .btn {
	font-size: 1.5rem;
}
.header-body_img {
	width: 50%;
	height: 50%;
}

/* Sections Styles*/

.section {
	width: 70%;
	margin: 0 auto 3rem;
	display: flex;
	height: 25rem;
	padding: 5rem;
	justify-content: center;
	align-items: center;
	gap: 11rem;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(216, 216, 216, 0.5);
}
.section-content {
	margin-left: 7rem;
}
.section-content h2 {
	color: var(--clr-vdark-cyan);
	margin-bottom: 2rem;
}
.section-content p {
	font-size: 1.4rem;
	color: var(--clr-grayish-blue);
	line-height: 2rem;
	max-width: 49ch;
}
.section-users p {
	max-width: 47ch;
}
.section-img {
	width: 40%;
	height: 100%;
}
.section-users {
	padding: 3rem;
}

@media screen and (max-width: 768px) {
	.section {
		flex-direction: column;
		height: auto;
		padding: 5rem 0 3rem;
		width: 80%;
		gap: 0;
		text-align: center;
	}
	.section-img {
		width: 70%;
	}
	.section-grow,
	.section-users {
		flex-direction: column-reverse;
	}
	.section-content {
		margin: 0;
	}
	.section-content h2 {
		font-size: 1.8rem;
		margin: 5rem 0 1.5rem;
	}
	.section-content p {
		font-size: 1.2rem;
		max-width: 32ch;
		margin: 0;
	}
	.section-users p {
		max-width: 31ch;
	}
}
/* Call to Action*/

.cta {
	width: 50%;
	box-shadow: 0px 0px 15px rgba(216, 216, 216, 0.5);
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	padding: 3rem 0;
}
.cta h1 {
	margin-bottom: 4rem;
	font-size: 2.5rem;
}

/* Links*/

a {
	text-decoration: none;
	color: var(--clr-vpale-cyan);
}

/* Footer*/

.footer {
	background: var(--clr-vdark-cyan);
	color: var(--clr-vpale-cyan);
	padding: 10rem 0;
}
.footer-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 3rem;
	width: 85%;
	margin: 0 auto;
}
.col-one_img {
	width: 2rem;
	height: 2rem;
}
.col-one .logo {
	filter: brightness(0) invert(1);
	width: 20rem;
	margin-bottom: 2rem;
}
.col-one a {
	margin-bottom: 1.5rem;
}
.col-one,
.col-two,
.col-three {
	display: flex;
	flex-direction: column;
}
.col-one {
	max-width: 40ch;
	grid-column: span 2;
	gap: 2rem;
}
.col-two {
	margin-left: 2rem;
}
.col-two,
.col-three {
	justify-content: center;
	gap: 2rem;
}
.col-two a:hover,
.col-three a:hover {
	text-decoration: underline;
}
.social {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 16rem;
}
.social .icon {
	width: 1.5rem;
	height: 1.5rem;
}
.footer p {
	position: absolute;
	top: 38%;
	left: 80%;
	font-size: 1rem;
}
@media screen and (max-width: 768px) {
	.footer {
		min-height: 60rem;
		padding-bottom: 2rem;
	}
	.footer-content {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	.col-two {
		margin: 6rem 0 1.5rem;
	}
	.social {
		position: static;
		margin-top: 5rem;
	}
	.footer p {
		text-align: center;
		position: static;
		margin: 3rem auto;
	}
}
